:root {
    --color--light-background: #f5f5f5;
    --color--dark-background: #aaa;
    --color--dark-header-background: #888;
    --color--border-color: #ccc;
}
.sortable {

}
.sortable li {
/*	border: 2px solid black; 
//	background-color: #fff; */
	
}
.sortable .ui-icon {

}
.sortable .metabox-field-legend {
  background-color: #888;
  color: white;
  display: block;
  width: 100%;
  line-height: 2em;
  font-size: 1.75em;
  padding: 0;
  cursor: pointer;
}
.metabox-field-legend div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.metabox-field-legend .dashicons-move {
  flex-basis: 20px;
}
.metabox-field-legend .field-title {
  flex: 1 1 auto;
}
.metabox-field-legend span:last-child:not(.field-title) {
  margin-left: auto;
  width: 30px;
  flex-basis: 30px;
}
.metabox-field-legend .field-title {
  margin-left: 30px;
}
.collapser {
  background-color: transparent;
  color: white;
  -webkit-appearance: none;
  cursor: pointer;
  border-width: 0;
}
.collapser:focus {
  outline: none;
}
.collapser .dashicons {
  transition: transform 0.3s ease;
}
.collapser.open .dashicons {
  transform: rotate(180deg);
}
.sortable .ui-icon {
  display: inline-block;
}
.sortable .ui-sortable-helper {
  background-color: #aaa;
}
.field-option-item legend {
  cursor: pointer;
}

.sortable .sortable-placeholder {
  display: block;
  min-height: 100px;
  background-color: lightgray;
  border: 2px dashed darkgray;
}

.wp_builder-accordion {}
.sortable .metabox-field-legend,
.wp_builder-accordion .accordion-title,
.wp_builder-accordion .ui-accordion-header{
    background-color: #888;
    color: white;
    display: block;
    width: 100%;
    line-height: 2em;
    font-size: 1.25em;
    padding: 0;
    padding-left: .5em;
    cursor: pointer;
    margin: 0;
    border-bottom: 1px solid #333;
    box-sizing: border-box;
}

.metabox-fields-form,
.accordion-contents {
  padding: .5em;
  background-color: #f5f5f5;
}
ul.fields-wrapper {
  margin-top: 0;
}
.overview {
  border: 1px solid #ccc;
  margin-bottom: 1em;
}
.overview-header {
  padding: .5em;
}

.wp_builder-trash {
  color: #a00;
  text-decoration: none;
}

/* Tooltip */
.tooltip {
  position: relative;
}
.tooltip::before {
  position: absolute;
  content: attr(data-tip);
  padding: .5em 1em;
  width: 10em;
  display: none;
  background-color: white;
  box-shadow: 3px 3px 4px 0 rgba(0,0,0,.5);
  left: 10px;
  bottom: 0;
}
.tooltip:hover::before {
  display: block;
}

.field-canvas {
  padding: 1rem;
  background-color: var(--color--light-background);
  
}

.wp-builder-example {
  display: block;
  line-height: 1.5rem;
  padding: 3px;
}

/** Settings Export **/
.export--wrapper {
  padding: 1rem;
}
.export--wrapper.open .show-export {
  display: none;
}
.export-field-container .button--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.export-field {
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
}

/** Options Preview **/
.options-preview {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax( 300px, 1fr ) );
}
.options-preview .right.postbox {
  padding: 1rem;
}

/** Forms **/
.form-panel {
  padding: 1rem;
  background-color: var(--color--light-background);
}